

body{
    background-image: url('stars.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.article{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.starColor{
    color:#fae90d;
}

.unvisible{
    font-size: 18px;
}

.itUnworks{
    font-size: 18px;
}

.backend{
    font-size: 22px;
}

.newHorizons{
    font-size: 22px;
}

.universe{
    font-size: 24px;
}

